<div #map class="map-container"></div>

<div class="row">
  <div class="col-12">
    <label lass="form-label">
      Zoom: {{ zoomLevel | number: "1.0-2" }} - Lng, Lat: [123, 456]
    </label>
    <input
      type="range"
      class="form-range"
      (input)="handleZoomRange(rangeZoom.value)"
      min="1"
      max="18"
      [value]="zoomLevel"
      #rangeZoom
    />
  </div>

  <div class="col-12">
    <button class="btn btn-primary" (click)="zoomOut()">-</button>
    <button class="btn btn-primary float-end" (click)="zoomIn()">+</button>
  </div>
</div>
